<div *ngIf="weather?.length" class="p-2 bg-body-tertiary rounded">
  <div class="d-flex justify-content-between">
    <div class="text-muted">
      {{ day }}
    </div>
    <div class="fw-bold">
      {{ dayName }}
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <div class="col">
      <div class="small">
        <i class="bi bi-moisture"></i>
        {{ avgHumidity | number : "1.0-0" }}
      </div>
      <div class="small">
        <i class="bi bi-arrow-bar-down"></i>
        {{ avgPressure | number : "1.0-0" }}
      </div>
    </div>
    <div class="col-auto text-end">
      <div>
        {{ maxTemp }}
        <i class="bi bi-thermometer-high"></i>
      </div>
      <div class="text-muted small">
        {{ minTemp }}
        <i class="bi bi-thermometer-low"></i>
      </div>
    </div>
  </div>
</div>
